// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright (C) 2025 PHYTEC Messtechnik GmbH
 * Authors: Christophe Parant <c.parant@phytec.fr>
 *          Nicolas Raimundo <n.raimundo@phytec.fr>
 */

/dts-v1/;

#include "stm32mp257.dtsi"
#include "stm32mp25xf.dtsi"
#include "stm32mp25xx-phyflex-fpsc-g-som.dtsi"
#include "stm32mp257f-phyflex-fpsc-g-som-rcc.dtsi"
#include "stm32mp257f-phyflex-fpsc-g-som-resmem.dtsi"
#include "stm32mp257f-phyflex-fpsc-g-som-rif.dtsi"

/ {
	model = "PHYTEC phyFLEX-STM32MP257F FPSC-Gamma";
	compatible = "phytec,stm32mp257f-phyflex-fpsc-g-som",
		     "st,stm32mp257";

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};
};

&pka {
	status = "okay";
};

&saes {
	status = "okay";
};
